@model banknote.Models.Person

<a asp-controller="Person" asp-action="Details" asp-route-id="@Model?.Id" style="text-decoration:none; color:palevioletred;">
    <p>@Html.DisplayFor(model => model.Name)</p>
</a>